body, html {
    width: 100%;
    height: 100%;
    color: #444;
}

body {
    background: #fff;
    overflow: auto;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}
#nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding-top: 10px;
    font-size: 18px;
    color: #fff;
    line-height: 32px;
    z-index: 3;
}

#nav.bg {
    background: #000;
    opacity: 0.9;
}

#nav .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#nav .navList {
    flex: 1;
    text-align: center;
    position: relative;
}
/*Change the width of each nav when it is detected as a mobile phone*/
@media (max-width: 768px) {
    #nav .navList {
        width: 33.3%;
        flex: auto;
    }
}

#nav .navList .login {
    position: absolute;
    left: -120px;
    width: 320px;
    background: #fff;
    height: 0;
    transition: all 0.3s;/*Through the animation, the log in drop-down box is hidden at the beginning, and then displayed when the mouse is hovered.*/
    overflow: hidden;
    border-radius: 4px;
    top: 54px;
    box-shadow: 0 0 10px 0 #000;
    opacity: 1;
}

@media (max-width: 768px) {
    #nav .navList .login {
        left: initial;
        right: 0px;
    }
}
/*Adapt phone style*/
#nav .navList .login .con {
    padding: 20px 10px;
}

#nav .navList .login .con .input {
    border: 1px solid #333;
    border-radius: 40px;
    height: 40px;
    line-height: 46px;
    font-size: 18px;
    color: #333;
    padding: 0 20px;
    width: 100%;
    background: #eee;
    margin: 15px 0;
}
#nav .navList .login .con .text{
    padding: 0 5px;
    text-align: left;
    font-size: 16px;
    color: #333;
}
#nav .navList .login .con .text a{
    font-size: 16px;
    color: #333;
    font-weight: normal;
}
#nav .navList .login .con .text a:hover{
    color: #1eaedb;
}
#nav .navList span {
    display: inline-block;
    padding: 10px 0;
    cursor: pointer;
}

#nav .navList span a {
    color: #fff;
}

#nav .navList .line {
    width: 100px;
    height: 4px;
    background: transparent;
    margin: 0 auto;
}
/*The following can control the color change that occurs when the mouse hovers, and the color bar at the bottom of the navigation bar appears.*/
#nav .navList:hover span a {
    font-weight: bold;
}
#nav .navt:hover span a {
    font-weight: normal;
}

#nav .navList:hover .line {
    background: #00BCD4;
}
#nav .navt:hover .line {
    background: rgba(0,0,0,0);
}
#nav .navt .signup:hover .line {
    background: #00BCD4;
}
#nav .navt .loginCon:hover a {
    font-weight: bold;
}
#nav .navt .signup:hover a {
    font-weight: bold;
}


#nav .navt .loginCon:hover .login {
    /*height: 310px;*/
}
#nav .navt .login.show{
    height: 310px;
}
#nav .navList .title {
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    color: #00BCD4;
}
#nav .navList .title span{
    font-size: 42px;
}
/*Add a background image to the head*/
.head {
    padding-top: 150px;
    font-size: 16px;
    background: url("../img/news.png") no-repeat;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.head .title {
    font-size: 40px;
    font-weight: bold;
    line-height: 66px;
    position: relative;
    animation: mymove 1s;
    -webkit-animation: mymove 1s;
}
.head .title span{
    font-size: 46px;
}
.head .desc {
    font-size: 16px;
    line-height: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    animation: mymove 1s;
    -webkit-animation: mymove 1s;
}

.head .desc2 {
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 50px;
    position: relative;
    animation: mymove 1s;
    -webkit-animation: mymove 1s;
}

.head .btn {
    margin-bottom: 100px;
    font-size: 16px;
    position: relative;
    transition: all 0.3s;
    border: 1px solid #eee;
    background-color: rgba(0,0,0,0);
    animation: mymove 1s;
    -webkit-animation: mymove 1s;
}
/*animation keyframes ,Combine setting animation*/
@keyframes mymove {
    0% {
        top:-50px;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

@-moz-keyframes mymove {
    0% {
        top:-50px;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

@-webkit-keyframes mymove {
    0% {
        top:-50px;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

@-o-keyframes mymove {
    0% {
        top:-50px;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}
.news {
    padding: 30px 0 30px;
}

.news .list {
    padding: 32px 15px;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.news .list .left {
    width: 30%;
    border: 1px solid #eee;
    padding: 5px;
}

.news .list .left div {
    width: 100%;
    overflow: hidden;
}

.news .list .left div img {
    cursor: pointer;
    width: 100%;
    transition: all 0.3s;/*Animated settings that magnify the image*/
    display: block;
}
/*When the mouse is hovering, the picture is enlarged.*/
.news .list .left div img:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .news .list .left {
        width: 100%;
    }
}

.news .list .right {
    flex: 1;
    padding-left: 26px;
    padding-top: 10px;
}

.news .list .right .title {
    font-size: 28px;
    color: #222;
    font-weight: 100;
    line-height: 32px;
    cursor: pointer;
}
/*Add an underline when hovering*/
.news .list .right .title:hover {
    text-decoration: underline;
}

.news .list .right .time {
    font-size: 14px;
    overflow: hidden;
    color: #b2b2b2;
    margin: 10px 0;
}

.news .list .right .con {
    margin: 15px 0 15px;
    font-size: 16px;
    line-height: 30px;
    color: #666;
}

.news .list .right .join {
    width: 100%;
    text-decoration: underline;
    font-size: 14px;
    line-height: 26px;
    cursor: pointer;
    color: #666;
    text-align: right;
}

.line {
    background-color: #222;
    color: #fff;
}

.line .con {
    display: flex;
    padding: 30px 0;
    flex-wrap: wrap;
}

.line .con .left {
    width: 50%;
    padding: 0 20px;
}

.line .con .left .title {
    font-size: 30px;
    padding-bottom: 20px;
}

.line .con .left .li {
    padding: 10px 0;
}

.line .con .left .li img {
    width: 15px;
    vertical-align: middle;
    margin-right: 7px;
}

.line .con .left .li span {
    display: inline-block;
    vertical-align: middle;
}
/*Adapt phone style*/
@media (max-width: 768px) {
    .line .con .left {
        width: 100%;
    }
}
/*Flex:1,can set the automatic width*/
.line .con .right {
    flex: 1;
    padding: 0 20px;
}

.line .con .right .title {
    font-size: 26px;
    font-weight: bold;
    line-height: 42px;
    border-bottom: 2px solid #666;
}

.line .con .right .li {
    font-size: 16px;
    line-height: 30px;
    border-bottom: 1px solid #444;
    padding: 6px 0;
}

.foot {
    background: #607D8B;
    color: #fff;
    font-size: 14px;
    padding: 10px 0;
    text-align: center;
}



.btn {
    color: #FFF;
    background-color: #33C3F0;
    border: 1px solid #33C3F0;
    display: inline-block;
    height: 46px;
    padding: 0 40px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 46px;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
}

.btn:hover {
    background-color: #1EAEDB;
    border: 1px solid #1EAEDB;
}

